h1{
    text-align: center;
    font-weight: 400;
    text-decoration: #0000ff underline;
    letter-spacing: 10px;
    font-size: 80px;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
p{
    line-height: 2.0;
    font-family: sans-serif;
}